<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <meta charset="UTF-8">
    <title>my chat app</title>
    <style type="text/css">
        #chatText {
            margin: 0px;
            width: 358px;
            height: 52px;
        }

        input {
            display: block;
        }

        ul {
            list-style: none;
        }
    </style>
    <script>
        $(function () {
            var msg = $("#messages")
            $("#chatbox").submit(function (socket) {
                if ($('#chatText').val() == "") {
                    return false;
                }
                if (socket == null) {
                    alert("Error: no socket found");
                    return false;
                }
                exampleSocket.send($('#chatText').val())
                $('#chatText').val("")
                return false;
            });
            var exampleSocket = new WebSocket("ws://{{.Host}}/room");
            exampleSocket.onopen = function (event) {
                exampleSocket.send("Some body new have joined!");
            };

            exampleSocket.onmessage = function (event) {
                $("#messages").append("<li>"+event.data+"</li>")
            }

        });
    </script>
</head>
<body>
<ul id="messages"></ul>
<form id="chatbox">
    <div>{{.UserData.name}}</div>
    <textarea id="chatText"></textarea>
    <input type="submit" value="send"/>
</form>
</body>
</html>