<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body style="margin: 10px; padding: 10px">
<div class="jumbotron" style="align-content: center;height: 100%;margin: 50px;">
    <div class="page-header">
        <h1>Sign in</h1>
    </div>
    <div class="alert alert-danger">
        <div class="panel-heading">
            <h3 class="panel-title">
                In order to chat you must sign in
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <p>
            Select the service you would like to sign in with:
        </p>
        <ul>
            <li>
                <a href="/auth/login/facebook/">Facebook</a>
            </li>
            <li>
                <a href="/auth/login/google/">Google</a>
            </li>
            <li>
                <a href="/auth/login/github">GitHub</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>